@import "ember-bootstrap/bootstrap";

.list {
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.completed .crossable {
  text-decoration: line-through;
}

h4 {
  cursor: pointer;
  margin-top: 0;
}

input {
  margin-bottom: 10px;
}

.floater {
  position: fixed;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.flash-message {
  box-shadow: 1px 1px 4px #aaa;
}
