@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

body {
  background: #DBDBDA;
  font-family: 'Montserrat', sans-serif;
  transition: .25s;
}

.navbar {
  background: #0A162B;
  border-color: #0E1E47;
  border-radius: 0 0 5px 5px
}

.navbar-default .navbar-brand {
  font-weight: 900;
  color: #ED8209;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
}

h1 {
  font-weight: 900;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar li {
  color: #fff;
  transition: 0.25s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: #ED8209;
}

.list {
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 10px 10px 40px;
  background-color: #fff;
  background-image:
    -webkit-linear-gradient(0deg, transparent 32px, rgba(255, 0, 0, 0.1) 0, transparent 34px),
    -webkit-linear-gradient(rgba(0, 0, 255, 0.05) 1px, transparent 0);
  // background-image:
  //   -moz-linear-gradient(0deg, transparent 5em, rgba(255, 0, 0, 0.2) 0, transparent 5.1em),
  //   -moz-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  // background-image:
  //   -o-linear-gradient(0deg, transparent 5em, rgba(255, 0, 0, 0.2) 0, transparent 5.1em),
  //   -o-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  // background-image:
  //   -ms-linear-gradient(0deg, transparent 5em, rgba(255, 0, 0, 0.2) 0, transparent 5.1em),
    // -ms-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  -webkit-background-size: 100% 1em;
  -moz-background-size: 100% 1em;
  box-shadow: 1px 1px 2px #666;

  hr {
    background: transparent;
    border: none;
    margin: 10px;
  }

  &:last-of-type {
    margin-bottom: 30px
  }
}

.single-todo {
  margin-left: -32px;
}

.completed .crossable {
  text-decoration: line-through;
}

h4 {
  cursor: pointer;
  margin-top: 0;
}

input {
  margin-bottom: 10px;
}

h3 {
  font-weight: 900;
}

.editable {
  cursor: pointer;
  transition: 0.25s;
  display: inline;

  &:after {
    // content: ' edit';
    font-size: 12px;
    opacity: 0;
  }

  &:hover {
    border-bottom: 3px solid black;

    &:after {
      opacity: 1
    }

  }
}

.floater {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.flash-message {
  box-shadow: 1px 1px 4px #aaa;
}
