<h3>My Teams</h3>
{{!-- {{model}} --}}
{{new-team store=store createTeam='createTeam'}}
{{model.userteam}}
<h4>Teams</h4>
{{#each model.userteam as |userteam|}}
  <p>{{userteam.team.team_name}}</p>
{{/each}}
